#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by 
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.
  <br/>
  <a rel="nofollow" href="http://www.miitbeian.gov.cn/" target="_blank">辽ICP备16005148号</a>
  || 
  <a rel="nofollow" target="_blank" href="/wechat.html">
  <img src="/img/wechat.png" height="13" width="13" alt="codetribe" class="nofancybox">
  |  代码部落
  </a>
  